*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

header{
    width: 100%;
    height: 320px;
    background-image: url('https://th.bing.com/th/id/R.20590535aa14f8566311bed06a094dca?rik=RnNPfoC%2fQ4pkeA&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fu5pCIIU.jpg&ehk=XlEjv4BpbpDF719%2bQWndrzOAkOpuVtMRtMmylF5M0ss%3d&risl=&pid=ImgRaw&r=0');
    background-position: center;
}

header > img{
    width: 100%;
    height: 320px;
}


ul{
    display: flex;
    
}

ul > li{
    background-color: blueviolet;
    width: 100%;
    padding: 2% 0;
    display: flex;
    justify-content: space-evenly;
}


li > a{
    font-size: 32px;
    color: white;
    font-family: sans-serif;
}


.movies{
    display: flex;
    justify-content: space-evenly;
    margin: 3%;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;
}


.movie{
    width: 300px;
    height: 400px;
    position: relative;
    margin: 2% 0;
}

.movie > img{
    width: 100%;
    height: 100%;
}

.movie > .title{
    position: absolute;
    bottom: 2%;
    left: 2%;
    background-color: gray;
    padding: 1%;
}


.description{
    position: absolute;
    top:0;
    left: 0;
    color: white;
    backdrop-filter: blur(10px);
    backdrop-filter: brightness(0.6);
    opacity: 0;
}

.title:hover + .description{
    opacity: 1;
    transition: .8s;
}


footer > p{
    color: white;
    background-color: black;
    padding: 4%;
    text-align: center;
}