*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    width: 100%;
}

header{
    background-color: purple;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header > h1{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.first_article{
    background-color: aqua;
    width: 30%;
    height: 320px;
    margin: 1% .5% auto 1%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1%;
    overflow: hidden;
}

.second_article{
    background-color: aqua;
    width: 30%;
    height: 320px;
    margin: 1% .5% auto .5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1%;
    overflow: hidden;
}

.third_article{
    background-color: aqua;
    width: 40%;
    height: 320px;
    margin: 1% 1% auto .5%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
    overflow: auto;
}

.third_article > .buttons{
    margin: 1% auto;
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.third_article > .buttons > button{
    height: 25px;
    border-radius: 0;
    border: grey 1px solid;
    width: 24%;
}    

.third_article > .button_blush{
    margin: 1%;
    display: flex;
    justify-content: center;
}

.third_article > .button_blush > button{
    height: 25px;
    width: 92%;
    border-radius: 0;
    border: grey 1px solid;
}

.third_article > .texts_infos{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 1%;
}

.third_article > .texts_infos > p{
    padding: 1%;
}