* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    height: 100vh;
    display: grid;
    grid-template-rows: 25% auto;
    grid-template-areas: "laranja_1 verde_1"
                        "vermelho verde_2";
    gap: 10px;
    padding: 10px;
}

.laranja_1{
    grid-area: laranja_1;
    background-color: orange;
}

.verde_1{
    grid-area: verde_1;
    background-color: greenyellow;
}

.vermelho{
    grid-area: vermelho;
    background-color: red;
}

.verde_2{
    grid-area: verde_2;
    background-color: green;
    display: grid;
    grid-template-areas: "verde_3 verde_3"
                        "verde_4 laranja_2";
    gap: 10px;
    padding: 10px;
}

.verde_3{
    grid-area: verde_3;
    background-color: mediumspringgreen;
}

.verde_4{
    grid-area: verde_4;
    background-color: palegreen;
}

.laranja_2{
    grid-area: laranja_2;
    background-color: orangered;
}