*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

main{
    display: flex;
    width: 1200px;
    justify-content: space-between;
    margin: auto;
}

body{
    background: radial-gradient(pink, #add8e6);
}

.card{
    padding-top: 20px;
    margin: 200px auto;
    background-color: white;
    width: 250px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    box-shadow: 0 0 30px gray;
    transition: .4s;
}

.card:hover{
    cursor: pointer;
    transform: translate(-5px, 5px);
    transform: scale(1.08);
}

.produto{
    text-align: center;
}

.produto > img{
    border-radius: 20px;
}

.infos{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    height: 150px;
}

.infos > p{
    color: #d3d3d3;
}

#star_black{
    color: black;
}

.stars{
    display: flex;
    justify-content: space-evenly;
    color: gold;
    width: 200px;
    margin: auto;
    font-size: 30px;
}

.stars > i{
    transition: .5s;
}

.stars > i:hover{
    cursor: pointer;
    opacity: 0.7;
}

.buttons{
    display: flex;
    flex-direction: column;
}

.buttons > button{
    border: none;
    height: 40px;
    color: white;
    font-size: 25px;
    border-radius: 0 0 20px 20px;
    transition: .5s;
}

.buttons > button:hover{
    cursor: pointer;
    opacity: .8;
}

#button_shoe{
    background-color: teal;
}

#button_earphone{
    background-color: purple;
}

#button_watch{
    background-color: black;
}

#button_mobile{
    background-color: coral;
}