*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to left, red, blue);
}

.login_screen{
    background-color: white;
    width: 500px;
    height: 700px;
    margin: 80px auto;
    
}

form{
    display: flex;
    flex-direction: column;
    margin: 40px;
}

h1{
    text-align: center;
    margin: 30px 0;
}

input{
    height: 35px;
    margin-bottom: 25px;
}

button{
    height: 40px;
    border-radius: 20px;
    margin-top: 22px;
    border: none;
    background: linear-gradient(to left, red, blue);
    color: white;
    font-weight: bold;
    transition: .5s;
}

button:hover{
    opacity: 0.7;
    cursor: pointer;
}

a{
    text-align: right;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 300px;
}

.social_icons > i{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    font-size: 30px;
    color: white;
}

.social_icons{
    display: flex;
    justify-content: space-evenly;
    width: 200px;
    margin: 40px 0;
}

.social_icons > i:hover{
    cursor: pointer;
    opacity: 0.7;
}

.fa-facebook{
    background-color: #3b5998;
}

.fa-twitter{
    background-color: #00acee;
}

.fa-google{
    background-color: tomato;
}